body {
  background-color: burlywood;
  font-family: Georgia;
}

.Navigate ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: brown;
}

.Navigate ul li {
  display: inline-block;
  padding: 10px;
}

.Navigate li:hover{
  background-color: red;
  color: whitesmoke;
}

/*Annyang Box */
.AnnyangBox {
  background-color: greenyellow;
  width: 700px;
  position: relative;
  top: 8.5%;
  left: 240px;
  padding: 45px;
  height: 150px;
  }
  
  .AnnyangBox h2 {
    text-align: center;
    top: -50px;
    position: relative;
  }
  
  .AnnyangBox p {
    text-align: left;
    top: -50px;
    right: 25px;
    position: relative;
  }
  
  #Enable {
    position: relative;
    top: -50px; 
    left: 385px;
    width: 350px;
    height: 75px;
  }
  #Disable {
    position: relative;
    top: -123.8px; 
    left: -40px;
    width: 350px;
    height: 75px;
  }

/*Stocks*/
#Stsubmit {
color: green;
background-color: grey;
width: 125px;
}

/*Stock Table */
.Stocktable {
width: 300%;
position: relative;
bottom: -20px;
}

/* Table Itself */
table {
width: 20%;
border-collapse: collapse; 
background-color: whitesmoke; 
}


th {
font-family: 'Times New Roman', Times, serif;
text-align: center;
font-weight: bold;
background-color: lightseagreen;
border: 2px solid whitesmoke; 
}


td {
font-family: 'Times New Roman', Times, serif;
text-align: center;
background-color: grey; 
border: 2px solid whitesmoke; 
font-size: 24px;
}
